:root {
	/* font-size: 62.5%; */
	color: #231f20;
}

html {
	/* An attempt to prevent page jumping by always showing scroll bars */
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
}

body {
	margin: 0;
	padding: 0;
	font-family: geomanist-regular, sans-serif;
	font-weight: 400;
	font-style: normal;
	/* font-size: 1.6rem; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #231f20;
	background: #f2f4f5;
}

body,
html,
.container-fluid {
	height: 100%;
}

main {
	max-height: 100%;
	overflow-y: auto;
	background: white;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: #5341f8;
	text-decoration: none;
	transition: 2s all;
}

a:hover {
	color: #170a91;
}

::-webkit-scrollbar-track {
	border-radius: unset;
}

::-webkit-scrollbar {
	width: 12px;
	background: #f1f2f2;
}

::-webkit-scrollbar-thumb {
	background-color: #86878f;
	border: 2px solid #f1f2f2;
}

ul.list-unstyled li label,
ul.list-unstyled li input {
	vertical-align: middle;
	margin: 0;
	cursor: pointer;
	line-height: 1;
}

*:focus,
button:focus,
.btn:focus,
input:focus,
select:focus,
textarea:focus {
	outline: none !important;
	/* border: transparent;
  border-color: inherit; */
	-webkit-box-shadow: none;
	box-shadow: none !important;
}
